<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>systems.speckle.connector.archicad</string>
	<key>CFBundleDisplayName</key>
	<string>Speckle</string>
	<key>CFBundleName</key>
	<string>Speckle</string>
	<key>CFBundleExecutable</key>
	<string>Speckle</string>
	<key>CFBundleGetInfoString</key>
	<string>Speckle Connector for Archicad</string>
	<key>CFBundleShortVersionString</key>
	<string>@SPECKLE_ADDON_VERSION@</string>
	<key>CFBundlePackageType</key>
	<string>.APX</string>
	<key>CFBundleSignature</key>
	<string>GSAP</string>
	<key>CFBundleVersion</key>
	<string>@SPECKLE_BUNDLE_VERSION@</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIconFile</key>
	<string>ArchiCADPlugin</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.6</string>
	<key>GSAddOnDescription</key>
	<string>Speckle Connector for Archicad @ARCHICAD_VERSION@</string>
	<key>GSVersionAppendix</key>
	<string>INT</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Speckle Systems</string>
</dict>
</plist>
